{
  "log": {
    "_recordingName": "fetchPolicies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0d29cdc1ea9a8e8f7ab793f1e65b94a7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.us4.sysdig.com/api/user/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2673,
            "text": "{\"user\":{\"termsAndConditions\":true,\"timezone\":\"+00:00\",\"pictureUrl\":\"http://www.gravatar.com/avatar/ba5b87ffa4527a556b5f6da95fe36fe5\",\"customerSettings\":{\"sysdig\":{\"enabled\":false,\"enabledSSE\":false,\"buckets\":[]},\"plan\":{\"maxAgents\":15,\"onDemandAgents\":0,\"maxTeams\":-1,\"timelines\":[{\"from\":null,\"to\":null,\"sampling\":10000000},{\"from\":null,\"to\":null,\"sampling\":60000000},{\"from\":null,\"to\":null,\"sampling\":600000000},{\"from\":null,\"to\":null,\"sampling\":3600000000},{\"from\":null,\"to\":null,\"sampling\":86400000000}],\"metricsSettings\":{\"enforce\":false,\"showExperimentals\":false,\"limits\":{\"jmx\":500,\"statsd\":1000,\"appCheck\":500,\"prometheus\":8000,\"prometheusPerProcess\":500,\"connections\":80,\"progAggregationCount\":12,\"appCheckAggregationCount\":12,\"promMetricsWeight\":0.0,\"topFilesCount\":10,\"topDevicesCount\":10,\"hostServerPorts\":10,\"containerServerPorts\":5,\"limitKubernetesResources\":false,\"kubernetesPods\":10000,\"kubernetesJobs\":10000,\"containerDensity\":200,\"meerkatSuited\":true},\"enforceAgentAggregation\":true,\"enablePromCalculatedIngestion\":false,\"enablePromScrapeV2\":true,\"enableGlobalK8sAllPodContainers\":false},\"secureEnabled\":true,\"monitorEnabled\":false,\"allocatedAgentsCount\":15,\"subscriptionState\":\"trialing\",\"paymentsIntegrationId\":{\"id\":\"not present\",\"ttl\":{\"ttl\":43}},\"pricingPlan\":\"pro\",\"indirectCustomer\":false,\"trialPlanName\":\"secure-enterprise-standard-monthly\",\"partner\":\"Direct\",\"trialEndDate\":1664383443236,\"subscriptionVersion\":2,\"migratedToV2Direct\":false,\"overageAssessmentEligible\":false},\"environment\":{}},\"customer\":{\"id\":5001686,\"name\":null,\"accessKey\":\"1be2fe7d-f00f-4513-9a15-1384c35d8497\",\"externalId\":\"fbd8b3fc-781c-4e7f-afac-a2ee9309f4c9\",\"dateCreated\":1661791442836},\"oauth\":false,\"agentInstallParams\":{\"accessKey\":\"1be2fe7d-f00f-4513-9a15-1384c35d8497\",\"collectorAddress\":\"ingest.us4.sysdig.com\",\"collectorPort\":6443,\"checkCertificate\":true,\"sslEnabled\":true},\"remoteWriteParams\":{\"serverAddress\":\"app.us4.sysdig.com\"},\"properties\":{\"has_been_invited\":false},\"resetPassword\":false,\"additionalRoles\":[],\"teamRoles\":[{\"teamId\":50006626,\"teamName\":\"Secure Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":50003375,\"userName\":\"stefan.virag@contractor.jupiterone.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true},{\"teamId\":50006625,\"teamName\":\"Monitor Operations\",\"teamTheme\":\"#7BB0B2\",\"userId\":50003375,\"userName\":\"stefan.virag@contractor.jupiterone.com\",\"role\":\"ROLE_TEAM_MANAGER\",\"admin\":true}],\"lastUpdated\":1663575912770,\"dateActivated\":1661791669709,\"accessKey\":\"1be2fe7d-f00f-4513-9a15-1384c35d8497\",\"intercomUserIdHash\":\"7941192844d448aedd650df4bd26799efd5fca275a1f1eef775ee67b6cf061ad\",\"uniqueIntercomUserId\":\"50003375.fbd8b3fc-781c-4e7f-afac-a2ee9309f4c9\",\"currentTeam\":50006626,\"name\":\"stefan.virag@contractor.jupiterone.com\",\"id\":50003375,\"version\":2,\"enabled\":true,\"username\":\"stefan.virag@contractor.jupiterone.com\",\"products\":[\"SDS\",\"SDC\"],\"firstName\":\"Stefan\",\"lastName\":\"Virag\",\"systemRole\":\"ROLE_CUSTOMER\",\"status\":\"confirmed\",\"dateCreated\":1661791442936,\"lastSeenOnSecure\":1663575912770}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 547,
      },
      {
        "_id": "6fd4e7a6bed8615501f32ff2a2f8486e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.us4.sysdig.com/api/scanning/policies/v2/policies"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1684,
            "text": "{\"policies\":[{\"id\":17384,\"name\":\"Sysdig Best Practices\",\"identifier\":\"sysdig_best_practices\",\"description\":\"Recommended out of the box image scanning checks.\",\"policyType\":\"alwaysApply\",\"bundles\":[{\"id\":1,\"name\":\"Severe vulnerabilities with a Fix\",\"identifier\":\"severe_vulnerabilities_with_a_fix\",\"description\":\"Fail on Severe vulnerabilities that can be fixed.\",\"bundleType\":\"predefined\",\"rules\":[{\"ruleType\":\"vulnSeverityAndThreats\",\"predicates\":[{\"type\":\"vulnSeverity\",\"extra\":{\"level\":\"critical\"}},{\"type\":\"vulnIsFixable\"}]},{\"ruleType\":\"vulnSeverityAndThreats\",\"predicates\":[{\"type\":\"vulnSeverity\",\"extra\":{\"level\":\"high\"}},{\"type\":\"vulnIsFixableWithAge\",\"extra\":{\"age\":30}}]},{\"ruleType\":\"vulnSeverityAndThreats\",\"predicates\":[{\"type\":\"vulnSeverity\",\"extra\":{\"level\":\"high\"}},{\"type\":\"vulnExploitableViaNetwork\"}]}],\"creationTimestamp\":\"2022-03-08T16:42:57.270495Z\",\"updateTimestamp\":\"2022-03-08T16:42:57.270495Z\"}],\"creationTimestamp\":\"2022-09-02T11:58:59.03062Z\",\"updateTimestamp\":\"2022-09-02T11:58:59.03062Z\"},{\"id\":22461,\"name\":\"My New Pipeline Policy 1\",\"identifier\":\"my-new-pipeline-policy-1\",\"description\":\"My New Pipeline Policy Description 1\",\"policyType\":\"alwaysApply\",\"bundles\":[{\"id\":10803,\"name\":\"My new bundle 1\",\"identifier\":\"my-new-bundle-1\",\"description\":\"My new bundle description 1\",\"bundleType\":\"custom\",\"rules\":[{\"ruleType\":\"vulnSeverityAndThreats\",\"predicates\":[{\"type\":\"vulnSeverity\",\"extra\":{\"level\":\"critical\"}},{\"type\":\"vulnAge\",\"extra\":{\"age\":7}}]}],\"creationTimestamp\":\"2022-09-16T09:52:17.357177Z\",\"updateTimestamp\":\"2022-09-16T09:52:17.357177Z\"}],\"creationTimestamp\":\"2022-09-16T09:53:16.483187Z\",\"updateTimestamp\":\"2022-09-16T09:53:16.483187Z\"}]}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "57"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1663576512"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 470,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
