{
  "log": {
    "_recordingName": "fetchFindings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "2d0d52164eaaf8493d335bedff4d9fbb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://app.us4.sysdig.com/api/scanning/v1/resultsDirect?limit=100&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 299,
            "text": "{\n \"options\": {\n  \"sort\": \"desc\",\n  \"sortBy\": \"scanDate\",\n  \"offset\": 0,\n  \"limit\": 0,\n  \"canLoadMore\": false\n },\n \"metadata\": {\n  \"total\": 0,\n  \"policyStatus\": {\n   \"totalPassed\": 0,\n   \"totalFailed\": 0,\n   \"totalNotEvaluated\": 0\n  },\n  \"origins\": {},\n  \"allOrigins\": [],\n  \"allRegistries\": []\n }\n}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 594,
      },
      {
        "_id": "d271a0415d170bf0f23fd47fab3da789",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://app.us4.sysdig.com/api/scanning/scanresults/v2/results?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 613,
            "text": "{\"page\":{\"returned\":2,\"matched\":2,\"next\":null},\"data\":[{\"id\":\"17144f2f45c295bc2fdcae5db51044ca\",\"storedAt\":\"2022-09-13T03:53:46.858993Z\",\"imageId\":\"sha256:43d28810c1b4c28a1be3bac8e0e40fcc472b2bfcfcda952544ed99cb874d2b1a\",\"imagePullString\":\"debian\",\"vulnsBySev\":[0,0,1,5,0,1,5,52],\"exploitCount\":0,\"policyEvaluationsResult\":\"failed\"},{\"id\":\"17140adb60b1639a2f8d615f88de1bfa\",\"storedAt\":\"2022-09-12T07:01:39.742909Z\",\"imageId\":\"sha256:dd8bae8d259fed93eb54b3bca0adeb647fc07f6ef16745c8ed4144ada4d51a95\",\"imagePullString\":\"debian\",\"vulnsBySev\":[0,0,4,7,0,1,5,52],\"exploitCount\":0,\"policyEvaluationsResult\":\"failed\"}]}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
         [...]
