{
  "log": {
    "_recordingName": "fetchTeams",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "c8eb893146383d47308537d321c13011",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://app.us4.sysdig.com/api/v2/teams/light?limit=100&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 869,
            "text": "{\"total\":2,\"offset\":0,\"teams\":[{\"id\":50006626,\"version\":1,\"dateCreated\":1661791442997,\"lastUpdated\":1661791442835,\"customerId\":5001686,\"immutable\":true,\"name\":\"Secure Operations\",\"theme\":\"#7BB0B2\",\"description\":\"Immutable Secure team with full visibility\",\"show\":\"host\",\"origin\":\"SYSDIG\",\"canUseSysdigCapture\":true,\"canUseAgentCli\":true,\"canUseCustomEvents\":true,\"canUseAwsMetrics\":true,\"canUseBeaconMetrics\":true,\"canUseRapidResponse\":false,\"defaultTeamRole\":\"ROLE_TEAM_EDIT\",\"userCount\":1,\"entryPoint\":{\"module\":\"Explore\"},\"products\":[\"SDS\"],\"properties\":{},\"namespaceFilters\":{},\"default\":true},{\"id\":50006625,\"version\":1,\"dateCreated\":1661791442957,\"lastUpdated\":1661791442835,\"customerId\":5001686,\"immutable\":true,\"name\":\"Monitor Operations\",\"theme\":\"#7BB0B2\",\"description\":\"Immutable Monitor team with full visibility\",\"show\":\"host\",\"origin\":\"SYSDIG\",\"canUseSysdigCapture\":true,\"canUseAgentCli\":true,\"canUseCustomEvents\":true,\"canUseAwsMetrics\":true,\"canUseBeaconMetrics\":true,\"canUseRapidResponse\":false,\"defaultTeamRole\":\"ROLE_TEAM_EDIT\",\"userCount\":1,\"entryPoint\":{\"module\":\"Explore\"},\"products\":[\"SDC\"],\"properties\":{},\"namespaceFilters\":{},\"default\":true}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 681,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
